body {
    font-family: 'Oswald', sans-serif;
    background-image: url(images/noaa-8GgFmNjh95E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 80%; */
}

header {
    font-size: 40px;
    background-color: rgb(86, 126, 220);
    border-radius: 5px;
    color: black;
    /* font-weight: bold; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    font-size: 30px;
    margin-top: 10px;
}

#top {
    display: flex;
    justify-content: space-around;
}

/* #bottom {
    display: flexbox;
    justify-content: center;
}  */

#currentCity {
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
    width: 600px;
    margin-left: 25px;
    margin-top: 10px;
    background-color: white;
    opacity: 40%;
}

#fiveDay {
    border: 2px black solid;
    border-radius: 5px;
    height: 300px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    background-color: white;
    opacity: 40%;
} 

.search {
    padding: 10px;
    font-size: 25px;
    display: flexbox;
    flex-direction: row;
    margin: 10px;
}

/* button {
    background-color: lightblue;
    color: black;
    width: 80px;
    border-radius: 5px;
    margin-top: 10px;
} */

button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

